<div>
    <label>Name</label>
    <input type="text" name="name" value="<%=Ninja.name%>">
</div>
<div>
    <label>Email</label>
    <input type="email"name="email" value="<%=Ninja.email%>">
</div>
<div>
    <label>Password</label>
    <input type="password"name="password">
</div>
<div>
    <label>Rank</label>
    <input type="text" name="rank" value="<%=Ninja.rank%>">
</div>
<div>
    <label>Availability</label>
    <input type="radio" value="true" name="availability" value ="<%=Ninja.availability%>">Yes</input>
    <input type="radio" value="false"name="availability" value = "<%=Ninja.availability %>">No</input>
</div>
<div>
    <label>Langitude</label>
    <input type="number"name="lat">
    <label>Longitude</label>
    <input type="number"name="lon">
</div>